<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a href="http://isbn.trillworks.com">Home</a></li>
        <li><a href="/healthcheck">Scraper healthcheck</a></li>
        <li><a href="/list">Browse books</a></li>
        <li><a href="https://github.com/NickCarneiro/isbncollector">GitHub</a></li>
    </ul>
    <h3 class="text-muted">Free ISBN Project</h3>
</div>