<!DOCTYPE html>
<html>
  <head>
    <title>Free ISBN project</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      <h2>ISBN lookup</h2>
      <form method="get" action="/book">
        <label for="isbn-input">ISBN or keyword:</label>
        <input id="isbn-input" class="form-control" name="isbn" />
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
      </div>
    </div>
    <div class="row">
      <ul>
        <li><a href="/list">Book list</a></li>
        <li><a href="/healthcheck">Scraper healthcheck</a></li>
      </ul>
      <p>Total books: <%= totalBookCount %></p>
    </div>
  </div>
  </body>
</html>
