<!DOCTYPE html>
<html>
  <head>
    <%= include header.ejs %>
  </head>
  <body>
  <div class="container-fluid">
    <%= include navigation.ejs %>
    <div class="row search-box-container">
      <div class="col-md-4 col-md-offset-4">
      <form class="form-inline isbn-lookup" method="get" action="/book">
        <label for="isbn-input">ISBN or title:</label>
        <input id="isbn-input" class="form-control" name="isbn" />
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center-text">
        <p>Searching <%= totalBookCount %> books</p>
      </div>
    </div>
  </div>
  </body>
</html>
