<!DOCTYPE html>
<html>
  <head>
    <%- include header.ejs %>
  </head>
  <body>
  <div class="container-fluid">
    <%- include navigation.ejs %>
    <div class="row search-box-container">
      <div class="col-md-4 col-md-offset-4">
      <form class="form isbn-lookup" method="get" action="/book">
        <label for="isbn-input">ISBN or title:</label>
        <div class="input-group">
          <input id="isbn-input" class="form-control" name="isbn" />
          <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="Submit" />
          </span>
        </div>
      </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center-text">
        <p>Searching <%= totalBookCount %> books</p>
      </div>
    </div>
    <%- include footer.ejs %>
  </div>
  </body>
</html>
