<!DOCTYPE html>
<html>
  <head>
    <title>isbncollector</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/list">Book list</a>
    <p>Total books: <%= totalBookCount %></p>

  <h2>ISBN lookup</h2>
  <form method="get" action="/book">
    <label for="isbn-input">ISBN or keyword:</label>
    <input id="isbn-input" name="isbn" />
    <input type="submit" value="Submit" />
  </form>
  </body>
</html>
