<div class="row">
    <div class="col-md-4 page-controls">
        <% if (typeof previousPage !== 'undefined') { %>
        <a class="btn btn-default <% if (!prevriousPage) { %>disabled<% } %>"
           href="/browse?page=<%= previousPage %>">Previous</a>
        <% } %>
        <% if (typeof page !== 'undefined' && typeof totalPages !== 'undefined') {   %>
        <%= page %> / <%= totalPages %>
        <% } %>
        <% if (typeof nextPage !== 'undefined') { %>
        <a class="btn btn-default" href="/browse?page=<%= nextPage %>">Next</a>
        <% } %>
    </div>
</div>