body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  border: 1px solid black;
}

.book {
  margin-bottom: 15px;
  list-style: none;
}


.isbn-lookup label{
  display: block;
}

#isbn-input {
  width: 80%;
}

.search-box-container {
  margin-bottom: 50px;
  margin-top: 10%;
}

.center-text {
  text-align: center;
}