body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  border: 1px solid black;
}

.book {
  margin-bottom: 8px;
  list-style: none;
}


.search-box-container {
  margin-bottom: 50px;
  margin-top: 10%;
}

.center-text {
  text-align: center;
}

.page-controls {
  margin: 10px 0 10px 0;
}

.header-search-input {
  width: 200px;
  display: inline-block;
}

.header-search-submit {
  display: inline-block;
}

.home-link:hover {
  text-decoration: none;
}

.header-search-form {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.header-pills {
  margin-top: 20px;
}

.project-title {
}